html {
    background-image: url('./img/grass.jpg');
}

.result-score {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-score h3 {
    margin: 10px 10px;
}

#game-over {
    color: red;
}

#win {
    color: turquoise;
}

h1, h3 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    margin: 0 auto; 
}

.grid div {
    width: 20px;
    height: 20px;
}

.wall {
    background-color: rgb(199, 159, 107);;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
}

.ball img {
    width: 12px;
    height: 12px;
    margin: 0 auto;
}

.glove img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.pacman img {
    width: 22px;
    height: 22px;
    margin: 0 auto;
}

.ghost img {
    width: 17px;
    height: 17px;
    margin: 0 auto;
}

.scared-ghost {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}
